# ESP-IDF build output
build/
sdkconfig.old
sdkconfig.bak

# Managed components (usually re-generated)
managed_components/

# Docs/Research
Docs/

# Python / OS junk
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#claude
.claude/

# CMake/compilation database (optional)
compile_commands.json